/* HEADER */
.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;    
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin:10px;
    border-radius: 8px;
    background-color: var(--color-3);    
}

.header-navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border: none;
    cursor: pointer;
}