:root{
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    /* COLOR */
    --color-1: #fff; 
    --color-2: #000;
    --color-3: #121212;
    --color-4: #b3b3b3;
    --color-5: #878787;

}